################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/UnitTest/v14
/GMap.NET.Core/bin
/GMap.NET.WindowsForms/bin
/UnitTest/bin/Debug
/UnitTest/obj/Debug
/GMap.NET.WindowsForms/obj
/GMap.NET.Core/obj
